# ==================================================
# Python
# ==================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ==================================================
# Virtual environments
# ==================================================

.venv/
venv/
env/

# ==================================================
# Environment variables
# ==================================================

.env
.env.*

!.env.example

# ==================================================
# Airflow
# ==================================================

airflow/logs/
airflow/config/

# ==================================================
# Data
# ==================================================

data/raw/
data/processed/

# ==================================================
# Jupyter
# ==================================================

.ipynb_checkpoints/

# ==================================================
# IDE
# ==================================================

.vscode/
.idea/

# ==================================================
# OS
# ==================================================

.DS_Store
Thumbs.db

# ==================================================
# Logs
# ==================================================

*.log

# ==================================================
# Testing
# ==================================================

.pytest_cache/

# ==================================================
# Ruff
# ==================================================

.ruff_cache/

# ==================================================
# Docs
# ==================================================

Docs/